
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 218, 218);
    height: 80vh;
}

.table-area{
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #ddd;
}

.prim-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.delete-button{
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}